@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}
  
body {
    background: $home-color;
    color: $primary-color;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

header {
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 50px;
    background: rgba(lighten($secondary-color, 2), 0.5);
    border: none;
}

main {
    margin: 0;
    padding-top: 50px;
}

h1,
h2, 
h3 {
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
        color: #fff;
    }

    &.sm-heading {
        margin-bottom: 1rem;
        padding-top: 1rem;
        color: #fff;
        background: rgba(lighten($secondary-color, 2), 0.5);
    }
}


//------------- HOME SECTION -----------//
.home {
    height: 100vh;
    padding: 30pt;
    .icons {
        margin: 10px;
        margin-top: 1rem;
        a {
            padding: 0.5rem;
            color: #fff;
            @include easeout;
            &:hover {
                color: rgba(lighten($secondary-color, 2), 0.8);
            }
        }
    }
    h1 {
        padding-top: 20vh;
    }
    h2 {
        padding: 10px;
    }
}


//---------- ABOUT SECTION -----------//
.about{
    margin: 0;
    padding: 0;
}

//---------- WORK SECTION -----------//
.work{
    margin: 0;
    padding: 0;
}

//---------- CONTACTS SECTION -----------//
.contact{
    align-items: center;
    text-align: center;
}



@import 'mobile';